name: CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@6
        with:
          node-version: '20'
          cache: 'npm'

      - name: Run tests for backend
        run: npm run test

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@6
      - uses: actions/setup-node@6
        with:
          node-version: '20'
          cache: 'npm'

      - name: Build app
        run: npm run build

  type-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@6
      - uses: actions/setup-node@6
        with:
          node-version: '20'
          cache: 'npm'

      - name: Type check backend
        run: npm run type-check
      
      - name: Type check frontend
        run: npm run type-check
